.wrapper {
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f2f2f2;
    width: 100%;
    padding-bottom: 16%;
}

.header {
    margin: 0 38%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.5;
    padding-top: 5px;
    margin-bottom: 20px;

    &::after {
        content: '';
        display: block;
        width: 260px;
        height: 3px;
        background: #fb1616;
        margin-top: 5px;
    }
}

.inner {
    display: flex;
}

.contai {
    margin-bottom: 1rem;
    width: 75%;
    margin-left: 10%;
}

.name {
    display: block;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container {
    flex: 1;
}

.user-avatar {
    margin-right: 70px;
    width: 20%;
}

.button {
    margin-left: 10%;
    margin-top: 15px;
}
