.wrapper {
    margin-top: 28px;
}

.header {
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
