.wrapper {
    width: 294px;
    margin-top: 28px;
}

.title {
    text-align: left;
    height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 15px;
}

.icon {
    font-size: 16px;
    margin-left: 5px;
}

.list-item {
    padding: 10px;
    border: 1px solid #eaeaea;
}
